<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    {{!-- se le pueden agregar variables desde webpack html plugin
    la idea es hacer un template html para poder editarlo desde webpack --}}
    <meta name="description" content="{{htmlWebpackPlugin.options.description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

</body>

</html>